<div class="text-center" *ngIf="isLogged; else loggedOut">
  <h2>You have already logged in</h2>
</div>

<ng-template #loggedOut>
  <div class="container d-flex justify-content-center">
    <div class="card">
      <div class="container">
        <div class="card-body">
          <form #f="ngForm" (ngSubmit)="onRegister()" novalidate>
            <div class="form-group">
              <label for="name">Name</label>
              <input type="text" name="name" id="name" class="form-control" [(ngModel)]="name" />
            </div>
            <div class="form-group">
              <label for="username">Username</label>
              <input type="text" name="username" id="username" class="form-control" [(ngModel)]="username" />
            </div>
            <div class="form-group">
              <label for="password">Password</label>
              <input type="password" name="password" id="password" class="form-control" [(ngModel)]="password" />
            </div>
            <div class="form-check">
              <input type="checkbox" class="form-check-input" name="isAdmin" id="isAdmin" [(ngModel)]="isAdmin"  />
              <label class="form-check-label" for="isAdmin">Is Admin</label>
            </div>
            <div class="form-group">
              <button class="btn btn-outline-success btn-block" [disabled]="!f.valid">
                <fa-icon [icon]="faUserPlus"></fa-icon> Sign In
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>  
</ng-template>
