<nav class="navbar navbar-expand-lg navbar-dark bg-dark mb-4">
  <a class="navbar-brand" href="#">Hospitals Administrator</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav ml-auto">

      <li class="nav-item" *ngIf="isLogged">
        <a class="nav-link navbarButton" routerLink="/hospital/list"><fa-icon [icon]="faHospital"></fa-icon> Hospitals List</a>
      </li>
      <li class="nav-item" *ngIf="!isLogged">
        <a class="nav-link navbarButton" routerLink="/register/user"><fa-icon [icon]="faUserPlus"></fa-icon> Sign In</a>
      </li>
      <li class="nav-item" *ngIf="!isLogged">
        <a class="nav-link navbarButton" routerLink="/login"><fa-icon [icon]="faSignInAlt"></fa-icon> Login</a>
      </li>
      <li class="nav-item" *ngIf="isLogged" (click)="onLogout()">
        <a class="nav-link navbarButton"><fa-icon [icon]="faDoorOpen"></fa-icon> Logout</a>
      </li>

    </ul>
  </div>
</nav>
