<div class="modal-header">
  <h4 class="modal-title">Hospitals administrator</h4>
</div>
<div class="modal-body">
  <p>{{ confirmationMessage }}</p>
</div>
<br>
<div class="modal-footer">
  <button class="btn btn-outline-dark" (click)="activeModal.close('yes')">Yes</button>
  <button class="btn btn-outline-dark" (click)="activeModal.close('noe')">No</button>
</div>
