<div class="container">
  <p><strong>Registered Hospitals</strong></p>

  <div class="mt-3" *ngIf="isAdmin">
    <button class="btn btn-outline-success btn-lg" routerLink="/create/hospital">
      <fa-icon [icon]="faPlusCircle"></fa-icon> New Hospital
    </button>
  </div>

  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Name</th>
        <th scope="col">Address</th>
        <th scope="col">Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let hospital of hospitalList; index as i">
        <th scope="row">{{ i + 1 }}</th>
        <td>{{ hospital.name }}</td>
        <td>{{ hospital.address }}</td>
        <td>
          <button type="button" class="btn btn-info actionsButton" ngbPopover="View" triggers="mouseenter:mouseleave" (click)="onViewHospitalClick(hospital)">
            <fa-icon [icon]="faEye"></fa-icon>
          </button>
          <button type="button" class="btn btn-warning actionsButton" ngbPopover="Edit" triggers="mouseenter:mouseleave" routerLink="/edit/hospital/{{hospital.id}}" *ngIf="isAdmin">
            <fa-icon [icon]="faEdit"></fa-icon>
          </button>
          <button type="button" class="btn btn-danger actionsButton" ngbPopover="Delete" triggers="mouseenter:mouseleave" (click)="onDeleteHospitalClick(hospital.id)" *ngIf="isAdmin">
            <fa-icon [icon]="faTrashAlt"></fa-icon>
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
