<div class="container d-flex justify-content-center">
    <div class="card">
      <div class="container">
        <div class="card-body">
          <h1>Edit Hospital</h1>
          <form #f="ngForm" (ngSubmit)="onSubmit()" novalidate>
            <div class="form-group">
              <label for="name">Name</label>
              <input type="text" name="name" id="name" class="form-control" [(ngModel)]="name" required />
            </div>
            <div class="form-group">
              <label for="address">Address</label>
              <input type="text" name="address" id="address" class="form-control" [(ngModel)]="address" required />
            </div>
            <div class="form-group">
              <label for="hospitalImage">Image</label>
              <input type="file" class="form-control-file" id="hospitalImage" (change)="onFileChanged($event)" />
            </div>
            <div class="form-group">
              <button type="submit" class="btn btn-outline-success btn-block" [disabled]="!f.valid">
                <fa-icon [icon]="faEdit"></fa-icon> Edit
              </button>
              <button type="button" class="btn btn-outline-primary btn-block" routerLink="/hospital/list">
                <fa-icon [icon]="faArrowAltCircleLeft"></fa-icon> Back
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  