<div class="text-center" *ngIf="isLogged; else loggedOut">
  <h2>You have already logged in</h2>
</div>

<ng-template #loggedOut>
  <div class="container d-flex justify-content-center">
    <div class="card">
      <div class="container">
        <div class="card-body">
          <form #f="ngForm" (ngSubmit)="onLogin()" novalidate>
            <div class="form-group">
              <label for="username">Username</label>
              <input type="text" name="username" id="username" class="form-control" [(ngModel)]="username" />
            </div>
            <div class="form-group">
              <label for="password">Password</label>
              <input type="password" name="password" id="password" class="form-control" [(ngModel)]="password" />
            </div>
            <div class="form-group">
              <button class="btn btn-outline-success btn-block" [disabled]="!f.valid">
                <fa-icon [icon]="faSignInAlt"></fa-icon> Login
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>  
</ng-template>
