<div class="modal-header">
  <h4 class="modal-title">Hospital information</h4>
  <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <div class="container">
    <div class="card-body">
      <form>
        <div class="form-group">
          <label>Name</label>
          <input class="form-control" [value]="hospital.name" disabled />
        </div>
        <div class="form-group">
          <label>Address</label>
          <input class="form-control" [value]="hospital.address" disabled />
        </div>
        <div class="form-group">
          <label>Created by</label>
          <input class="form-control" [value]="hospital.createdBy" disabled />
        </div>
        <div class="form-group">
          <label>Created date</label>
          <input class="form-control" [value]="hospital.createdDate | date: 'MM/dd/yyyy'" disabled />
        </div>
        <div class="form-group">
          <label>Last modified by</label>
          <input class="form-control" [value]="hospital.lastModifiedBy" disabled />
        </div>
        <div class="form-group">
          <label>Last modified date</label>
          <input class="form-control" [value]="hospital.lastModifiedDate | date: 'MM/dd/yyyy'" disabled />
        </div>
        <div class="form-group" *ngIf="hospitalImage">
          <label>Image</label>
          <div class="container row">
            <div class="col-md-12">
              <img [src]="hospitalImage" />
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-outline-dark" (click)="activeModal.close('Close click')">Close</button>
</div>
